<ul>
  {{#each}}
    <li><a target="_blank" {{bind-attr href=url}}">{{title}}</a></li>
  {{/each}}
</ul>

<br>
<h3>Add a Recipe</h3>
Title: {{textarea valueBinding="newRecipe.title"}}
<br>
URL: {{textarea valueBinding="newRecipe.url"}}
<br>
<button {{action "createRecipe"}}>Add Recipe</button>
